* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin: auto;
    display: block;
}

h1 {
    color: white;
    background-color: red;
    text-align: center;        
}

h3 {
    color: red;
    padding: 0px 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
    padding: 16px;
}

.card {
    background-color: rgb(228, 228, 228);
    border-radius: 8px;
    padding: 8px;
    flex: 1;
}